* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  background-color: brown;
  color: #FFF;
}

h2 {
  font-size: 1.2rem;
  color: inherit;
}

h2 span {
  text-transform: capitalize;
  color: lightcyan;
}

p {
  font-size: 0.8rem;
  color: #ececec;
}
